* {
    box-sizing: border-box;
}
body {
    font-family: "Times New Roman";
}
header {
    background-color: darkgray;
    padding: 10px;
    text-align:  center;
    font-size: 35px;
    color: white;
}
nav {
    text-align: center;
    display: block;

    padding: 20px;

}
nav ul {
    list-style-type: none;
    padding: 0;
}
.khoahoc {
    float: left;
    padding: 20px;
    width: 30%;
    height:560px;
    background-color: wheat;

}
article {
    float: left;
    padding: 20px;
    width: 70% ;
    height: 560px;
    background-color: ghostwhite;
}



footer {
    background-color: darkgray;
    text-align: center;
    padding: 20px;
    color :blue;
}